.headpic {
    width: 72px;
    height: 72px;
    margin: 4px 0 0 24px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
   }